/android/           @whyseagull @LuvPrisoner
/backend/           @YUcxovo @YifanZhang2026
/docs/              @whyseagull @YifanZhang2026
/.github/           @YUcxovo
/.gitignore         @YUcxovo
/.gitattributes     @YUcxovo
/lefthook.yml       @YUcxovo      
/.commitlintrc.yml  @YUcxovo